$primary-gray: #EDEDED;
$black: #33475B;
$primary-color: #126ACE;
$secondary-color: #BA720D;
$light-gray: #eaf0f6;
$white: #fff;

$h1-size: 2.25rem;
$h2-size: 1.62671rem; 
$h3-size: 1.38316rem;
$h4-size: 1.1rem;
$p-size: 1rem;
$h5-size: 0.85028rem;
$h6-size: 0.78405rem;

$header-font: 'Martel', serif;
$body-font: 'Hind Guntur', sans-serif;
