@import 'variables';
@import 'resets';

/* general styles */
html {
    background-color: $primary-gray;
    color: $primary-black;
  }

  p {
    line-height: 1.5;
  }

/* General layout */

.container-full {
  margin: auto;
  max-width: 2000px;
  width: 100%;
}
  
.wrapper-lg {
    width: 92%;
    max-width: 1250px;
    margin: auto;
  }
  
  .wrapper-md {
    width: 92%;
    max-width: 900px;
  }
  
  .wrapper-sm {
    width: 92%;
    max-width: 650px;
    max-width: 720px;
  }
  
  img.block-center {
    display: block;
  }
  
  .block-center {
    margin: auto;
  }
  
  .text-center {
    text-align: center;
  }
  
  header {
    padding: 35px 0px;
    display: flex;
  }
  
  header a {
    font-size: 0.85028rem;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
  }

  header li a::after {
    position: absolute;
    top: 100%;
    left: 0;
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: $primary-color;
    transition-duration: .5s;
  }

  header li a:hover::after {
    width: 100%;
  }

  .band {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  footer a {
    text-decoration: none;
  }
  
  header ul,
  footer ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-left: 0;
  }
  
  header ul,
  footer ul,
  footer p {
    margin: 10px 0;
  }
  
  footer p:last-child,
  footer ul:last-child {
    margin-bottom: 0;
    padding-bottom: 10px;
  }
  
  header ul li,
  footer ul li {
    margin-bottom: 0;
  }

  header ul li.menu-parent  {
    position: relative;
  }

  header ul li.menu-parent ul { 
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: $dark-gray;
    padding: 10px;
    transition-duration: .5s;
    opacity: 1;
  }

  header ul li.menu-parent ul li {
    margin-bottom: 10px;
  }
 
  header ul li.menu-parent.closed ul {
    visibility: hidden;
    opacity: 0;;
  }

  header ul li.menu-parent > button {
    font-size: 0px;
    border: none;
    position: relative;
    height: 6px;
    width: 6px;
  }

  header ul li.menu-parent button::after {
    position: absolute;
    top: 2px;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 4px;
    content: '';
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition-duration: .5s;
  }

  header ul li.menu-parent.open button::after {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

  footer {
    margin-top: 35px;
    padding-top: 35px;
  }

  .inset + footer {
    margin-top: 0px;
  }

  ul.social img {
    height: 1.25rem;
  }
  
  header ul li,
  footer ul li  {
    list-style: none;
    padding-right: 20px;
    padding-left: 0;
  }

  /* UTILITIES */
  ul.social span,
  .sr-only {
    border: 0 !important;
      clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
      -webkit-clip-path: inset(50%) !important;
          clip-path: inset(50%) !important;  /* 2 */
      height: 1px !important;
      margin: -1px !important;
      overflow: hidden !important;
      padding: 0 !important;
      position: absolute !important;
      width: 1px !important;
      white-space: nowrap !important;    
  }
  

/* cards and blocks appearence */
  .card h2 a:after,
  .card h4 a:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .card {
    position: relative;
    padding: 10px;
    transition-duration: .5s;
  }

  .card:hover {
    background-color: $white;
  }

  .card.no-hover-effect:hover {
    background-color: transparent;
  }
  
  .col.raised-card {
    margin-bottom: 35px;
  }
  
  .dark-gray {
    background-color: $dark-gray;
  }
  
  .inset {
    box-shadow: inset -2px -2px 4px $white,
                 inset 2px 2px 4px #C9C5C5;
    background-color: #E7E7E7;
  }
  
  .light-gray {
    background-color: $primary-gray;
  }
  
  /* links and buttons*/
  a {
    color: $primary-color;
    font-weight: bold;
    text-decoration: underline;
  }
  
  footer a {
    color: $primary-color;
  }
  
  a.btn {
    text-decoration: none;
    color: $white;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    display: block;
    margin: 20px 0;
    padding: 20px;
    width: fit-content;
    background-color: $primary-color;
    transition: 0.09s ease-in;
    box-shadow: -2px -2px 2px #FAFAFA,
                 2px 2px 2px #B3B3B3;
    border-radius: 4px;
    border: none;
  }
  
  a.btn:hover {
    border: none;
    background-color: #032896;
    box-shadow: 1px 1px 2px $white,
                -1px -1px 2px #D6D4D4,
                inset 0px 1px 2px #855D05;
  }
  

  a.text-btn-fwd,
  a.text-btn-back {
    text-decoration: none;
    font-family: 'Hind Guntur', sans-serif;
    font-weight: bold;
    color: $primary-color;
    margin-top: .45rem;
    margin-bottom: 1.45rem;
    font-size: $h5-size;
    border: none;
    text-transform: uppercase;
    display: inline-block;
  }
  
  a.text-btn-fwd::after,
  a.text-btn-back::before {
    transition-duration: .5s;
  }
  
  a.text-btn-back::before {
    content: '\2190';
    padding-right: 5px;
    padding-left: 5px;
  }
  
  a.text-btn-fwd::after {
    content: '\2192';
    padding-left: 5px;
  }
  
  a.text-btn-fwd:hover::after   {
    padding-left: 10px;
  }
  
  a.text-btn-back:hover::before {
    padding-right: 9px;
    padding-left: 1px;
  }

  /* hero and logo*/

  .hero-band {
    background: $primary-gray;
    background-image: url(../../images/banner2.jpg);
    margin-top: 35px;
    padding: 70px 0 35px 0;
    margin-top: -250px;
    padding-top: 225px;
  }
  
  .logo  {
    width: 4rem;
    padding-right: 20px;
  }
  
  .hero-band h1 {
    color: $primary-color;
  }

  p.hero-text {
    font-size: $h3-size;
    line-height: 1.2;
  }  

  /* blog and post styles */
  
  .post-nav h2:last-child {
    margin-bottom: 0;
  }

  .post-nav a {
    text-decoration: none;
  }

  .post-nav h2 {
    margin-top: 0px;
  }
  
  .post-nav h2 a {
    font-size: $h4-size;
  }
  
  .label,
  .post-nav h2 span,
  .u-small {
    font-size: $h6-size;
  }

  .post-list .u-small {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .post-list li h4,
  .post-list li h2 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .post-list li h2 a {
   text-decoration: none;
  }

  .u-med {
    font-size: $h4-size;
  }

  .label,
  .post-nav h2 span {
    color: $primary-black;
    font-weight: bold;
  }
  
  .post-nav h2 span {
    text-transform: uppercase;
    display: block;
  }
  
  .post-nav {
    padding: 35px 0;
  }
  
  ul.post-list {
    margin: 0;
  }
  
  .post-list li {
    list-style: none;
    margin-bottom: 15px;
  }
  
  /* home */

  .band.about-band {
    padding-bottom: 0px;
    grid-gap: 0;
  }
  
  .about-band img {
    vertical-align: bottom; 
    width: 100%;
    max-width: 500px;
  }

  /* text */
  blockquote {
    font-family: 'Martel', serif;
  }

  blockquote p {
    border-left: 2px solid $primary-color;
    font-size: $h4-size;
    padding-left: 20px;
    margin-bottom: 5px;
  }

  blockquote span {
    font-family: 'Hind Guntur', sans-serif;
    display: block;
    padding-left: 25px;
    font-size: 0.85028rem;
   
  }

  blockquote span:before {
    content:  '\2014 ';
  }

  blockquote p,
  blockquote span {
    line-height: 1.2;

  }

    /* Gird classes */
    .cols-1-4 {
      max-width: 35%;
      margin: auto;
    }
  
    .cols-1-4 .col {
      margin-top: 70px;
    }
  
    @media (min-width: 768px) {
      .cols-1-4 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 100%;
      }
      
      .cols-1-4 .col {
        flex-basis: 20%;
        margin-top: 0px;
      }
  
      @supports (display: grid) {
        .cols-1-4 {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-gap: 10%;
        }
      }
  
    }

  @media (min-width: 769px) {
    .hero-band h1 {
        font-size: 100px;
    }

    .cols-1-3,
    .cols-1-2 {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  
    .cols-1-2 .col {
      flex-basis: 45%;
    }
  
    .cols-1-3 .col {
      flex-basis: 33%;
  }
  
    .post-nav {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
    }
  
    .post-nav h2 {
      margin-bottom: 0;
      max-width: 40%;
    }
  
    .block-right {
      margin-right: 0;
      margin-left: auto;
      text-align: right;
    }
    
  
    @supports (display:grid) {
      .cols-1-3,
      .cols-1-2 {
        display: grid;
        grid-gap: 8%;
      }
      
      .cols-1-3 {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 4%;
  
      }
  
      .cols-1-2 {
        grid-template-columns: repeat(2, 1fr);
      }
  
    }
  
  }
  

  

  