@import 'variables';
@import 'resets';

/* general styles */
html {
    background-color: $light-gray;
    color: $black;
  }

  p {
    line-height: 1.5;
  }

/* General layout */

.background-img-band {
  margin: auto;
  max-width: 2000px;
  width: 100%;
}
  
.wrapper-lg {
    width: 92%;
    max-width: 1250px;
    margin: 0 auto 35px auto;
  }
  
  .wrapper-md {
    width: 92%;
    max-width: 900px;
  }
  
  .wrapper-sm {
    width: 92%;
    max-width: 650px;
    max-width: 720px;
  }
  
  img.block-center {
    display: block;
  }
  
  ul.post-list.block-center,
  .block-center {
    margin: auto;
  }
  
  .text-center {
    text-align: center;
  }
  
  header {
    padding: 35px 0px;
    display: flex;
  }
  
  header a {
    font-size: 0.85028rem;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
  }

  a.text-btn {
    position: relative;
  }

  a.text-btn::after,
  header li a::after {
    position: absolute;
    top: 100%;
    left: 0;
    content: '';
    display: block;
    width: 0;
    height: 5px;
    background: $secondary-color;
    border-radius: 5px;
    transition-duration: .5s;
  }

  a.text-btn::after,
  header li a:hover::after,
  header li.active a::after {
    width: 100%;
  }

  a.text-btn:hover::after {
    top: 20px;
  }

  .band {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  footer a {
    text-decoration: none;
  }
  
  .hero-band ul,
  header ul,
  footer ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-left: 0;
  }


  header ul,
  footer ul,
  footer p {
    margin: 10px 0;
  }
  
  footer p:last-child,
  footer ul:last-child {
    margin-bottom: 0;
    padding-bottom: 10px;
  }
  
  .hero-band ul li,
  header ul li,
  footer ul li {
    margin-bottom: 0;
  }

  footer {
    margin-top: 35px;
    padding-top: 35px;
  }

  .inset + footer {
    margin-top: 0px;
  }

  ul.social img {
    height: 1.25rem;
  }
  
  .hero-band ul li,
  header ul li,
  footer ul li  {
    list-style: none;
    padding-left: 0;
  }

  header ul li,
  footer ul li {
    padding-right: 20px;
  }

  .hero-band ul li:not(:last-child) {
    padding-right: 40px;
  }
  
  .hero-band ul li a {
    font-size: $p-size;
  }

  /* UTILITIES */
  ul.social span,
  .sr-only {
    border: 0 !important;
      clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
      -webkit-clip-path: inset(50%) !important;
          clip-path: inset(50%) !important;  /* 2 */
      height: 1px !important;
      margin: -1px !important;
      overflow: hidden !important;
      padding: 0 !important;
      position: absolute !important;
      width: 1px !important;
      white-space: nowrap !important;    
  }
  

/* cards and blocks appearence */
  .card h2 a:after,
  .card h4 a:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .card {
    position: relative;
    padding: 10px;
    border-radius: 5px;
    transition-duration: .5s;
  }

  .card:hover {
    background-color: $white;
  }

  .card.no-hover-effect:hover {
    background-color: transparent;
  }
  
  .col.raised-card {
    margin-bottom: 35px;
  }
  
  
  /* links and buttons*/
  a {
    color: $primary-color;
    font-weight: bold;
    text-decoration: underline;
  }
  
  footer a {
    color: $primary-color;
  }
  
  a.btn {
    text-decoration: none;
    color: $light-gray;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    display: block;
    margin: 20px 0;
    padding: 10px 25px 5px 25px;
    width: fit-content;
    background-color: $primary-color;
    transition: 0.4s ease-in;
    border-radius: 7px;
    border: none;
  }
  
  a.btn:hover {
    border: none;
    background-color: darken($primary-color, 10%);
  }
  
  a.text-btn,
  a.text-btn-fwd,
  a.text-btn-back {
    text-decoration: none;
    font-family: $body-font;
    font-weight: bold;
    color: $primary-color;
    margin-top: .45rem;
    margin-bottom: 1.45rem;
    font-size: $h5-size;
    border: none;
    text-transform: uppercase;
    display: inline-block;
  }
  
  a.text-btn-fwd::after,
  a.text-btn-back::before {
    transition-duration: .5s;
  }
  
  a.text-btn-back::before {
    content: '\2190';
    padding-right: 5px;
    padding-left: 5px;
  }
  
  a.text-btn-fwd::after {
    content: '\2192';
    padding-left: 5px;
  }
  
  a.text-btn-fwd:hover::after   {
    padding-left: 10px;
  }
  
  a.text-btn-back:hover::before {
    padding-right: 9px;
    padding-left: 1px;
  }

  /* hero and logo*/

  .hero-band {
    background: $light-gray;
    padding: 70px 0 35px 0;
    margin-top: -250px;
    padding-top: 225px;
  }

  #home .hero-band {
    background-image: linear-gradient(rgba(234,240,246,.5), rgba(234,240,246, 1) ), url(../../images/banner2.jpg);
    background-repeat: no-repeat;
    padding-bottom: 150px;
    margin-bottom: 50px;
  }
  
  .logo  {
    width: 4rem;
    padding-right: 20px;
  }
  
  .hero-band h1 {
    margin-bottom: 10px;
    line-height: 1;
  }


  .hero-band h2 {
    color: $primary-color;
    margin-top: 0px;
    margin-bottom: 10px;
  }

  p.hero-text {
    line-height: 1.2;
  } 
 

  /* blog and post styles */
  
  .post-nav h2:last-child {
    margin-bottom: 0;
  }

  .post-nav a {
    text-decoration: none;
  }

  .post-nav h2 {
    margin-top: 0px;
  }
  
  .post-nav h2 a {
    font-size: $h4-size;
  }
  
  .label,
  .post-nav h2 span,
  .u-small {
    font-size: $h6-size;
  }

  .post-list .u-small {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .post-list li h4,
  .post-list li h2 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .post-list li h2 a {
   text-decoration: none;
  }

  .u-med {
    font-size: $p-size;
  }

  .label,
  .post-nav h2 span {
    color: $black;
    font-weight: bold;
  }
  
  .post-nav h2 span {
    text-transform: uppercase;
    display: block;
  }
  
  .post-nav {
    padding: 35px 0;
  }
  
  ul.post-list {
    margin: 0;
  }
  
  .post-list li {
    list-style: none;
    margin-bottom: 15px;
  }

  
  
  /* home */
#home iframe {
  width: 100%;
  margin-bottom: 0px;
}
  /* text */
  blockquote {
    font-family: $header-font;
  }

  blockquote p {
    border-left: 2px solid $primary-color;
    font-size: $h4-size;
    padding-left: 20px;
    margin-bottom: 5px;
  }

  blockquote span {
    font-family: $body-font;
    display: block;
    padding-left: 25px;
    font-size: 0.85028rem;
   
  }

  blockquote span:before {
    content:  '\2014 ';
  }

  blockquote p,
  blockquote span {
    line-height: 1.2;

  }

    /* Gird classes */
  
    @media (min-width: 768px) {
      .cols-20-80 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      

      .cols-20-80 > .col:first-child {
        flex-basis: 17%;
      }
  
      .cols-20-80 > h2.col:first-child {
        margin-top: 0px;
      }
  
      .cols-20-80 > .col {
        flex-basis: 80%;
      }
  
      @supports (display: grid) {
        .cols-20-80 {
          display: grid;
          grid-template-columns: 1fr 5fr;
          grid-gap: 0px 35px;
        }
      }
  
    }

  @media (min-width: 769px) {
    .hero-band h1 {
        font-size: $h1-size * 2.2;
    }

    .hero-band h2 {
      font-size: $h2-size * 1.2
    }

    p.hero-text {
      font-size: $h3-size;
    } 

    .cols-50-50 {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }


  
    .cols-50-50 > .col {
      flex-basis: 48.5%;
    }
  

    .post-nav {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
    }
  
    .post-nav h2 {
      margin-bottom: 0;
      max-width: 40%;
    }
  
    .block-right {
      margin-right: 0;
      margin-left: auto;
      text-align: right;
    }
    
  
    @supports (display:grid) {
      .cols-50-50 {
        display: grid;
        grid-gap: 0px 70px;
      }

      .cols-50-50 {
        grid-template-columns: repeat(2, 1fr);
      }
  
    }
  
  }
  

  

  